*{
    font-family: Helvetica, Arial, sans-serif
}

.order-modal, .cart-modal {
    position: fixed;
    z-index: 1;
    display: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.order-box {
    width: 300px;
    min-width: 320px;
    background: rgba(255, 255, 255);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px 50px 30px;
}
.order-modal, .cart-modal {
    position: fixed;
    z-index: 1;
    display: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.cart-box {
    min-width: 320px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}
.order-box form{
    float: left;
}

.order-modal #item-image {
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.order-modal h1 {
    min-width: 280px;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    background: #ff3008;
    position: absolute; 
    top: -30px;
    left: calc(25% - 80px);
}

.order-modal #close{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    position: absolute; 
    top: -23px;
    left: calc(92% - 5px);
    z-index: 2;
    transition-property: color font-size;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
.order-modal #close:hover{
    cursor: pointer;
    font-size: 1.6em;
    color: grey;
}

.order-box label{
    display: block;
    padding:10px 0 0 0;
    font-weight: bold;
    color: black;
}
.order-box #display img{
    display: block;
}

.order-box input,
.order-box select{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.order-box select{
    font-size: 0.8em;
}
.order-box select option{
    padding: 0;
    margin: 0;
    width: 40%;
    font-size: 0.6em;
}

.order-modal input[type="number"],
.basket input[type="text"]
{
    border: none;
    border-bottom: 1px solid rgb(201, 200, 200);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.order-modal input[type="submit"],
.basket input[type="submit"],
.basket input[type="button"] {
    margin-top: 1em;
    border: none;
    outline: none;
    height: 40px;
    background: #ff3008;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    transition-property: color background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.order-modal input[type="submit"]:hover,
.basket input[type="submit"]:hover,
.basket input[type="button"]:hover {
    cursor: pointer;
    background-color: #cc2807;
    color: wheat;
}

.order-modal input[type="submit"]:active,
.basket input[type="submit"]:active,
.basket input[type="button"]:active{
    cursor: pointer;
    background-color: #fd4621;
}

/*---------Checkout----------*/
.basket{
    width: 250px;
    padding: 10% 30px;
    padding-top: 0;
    background: rgb(255, 255, 255);
}

.basket h1{
    background: #ff3008;
    color: white;
    padding: 1em;
    text-align: center;
}

.basket label{
    display: inline-block;
    padding: 2% 1% 1% 1%;
}

.basket input[type="submit"], 
.basket input[type="text"],
.basket input[type="button"]{
    width: 100%;
    margin-bottom:2%;
}
.main-header nav ul li > ul.isolate{
    position: absolute;
    bottom: 10000em;
    right: -1em;
    transition-property: bottom;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.main-header nav ul li:hover > ul.isolate{
    bottom: -1em;
    z-index: 40;
}

@media(max-width:768px){
.main-header nav ul li:hover > ul.isolate{
    bottom: -1em;
    z-index: 40;
}
}
